.student-form{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.student-form h2{
    margin-bottom: 20px;
    color: #1f2937;
}
.student-form form{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.student-form input{
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}
.student-form button{
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.student-form button:hover{
    background-color: #1d4ed8;
}
.student-form select{
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d1d5db;

}
.student-form select:focus{
    outline: none;
    border-color: #2563eb;
}
